$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$primary-color: hsl(0, 0%, 2%);
$secondary-color: rgb(237, 165, 101);
$light-gray: hsl(0, 0%, 83%);
$bg-color-light: hsl(0, 0%, 100%);
$bg-color-dark: hsl(20, 89%, 59%);
$border-radius: 8px;
