@use "../util" as u;

.card {
  background: rgb(250, 250, 249);
  padding: 50px;
  border-radius: u.$border-radius;
  border-color: #030f4a;
  @include u.box-shadow();
  text-align: center;

  &--project {
    border-left: 4px solid u.$secondary-color;
  }

  &__title {
    font-size: 1.5rem;
    color: lighten(u.$primary-color, 20%);
  }

  &__description {
    font-size: 1rem;
    color: lighten(u.$light-gray, 40%);
  }

  &__button {
    background: u.$secondary-color;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: u.$border-radius;
    transition: background 0.3s;


    &:hover {
      background: lighten(u.$secondary-color, 10%);
    }
  }

  &__link {
    display: block;
    color: lighten(u.$primary-color, 20%);
    text-decoration: underline;
    margin-top: 8px;

    &:hover {
      color: lighten(u.$primary-color, 10%);
    }
  }
}
