@use "../util" as *;

.top {
  width: 100%;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 8px;
  background: white;
  display: flex;
  justify-content: center;
}

.heroprofile img {
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background-color: black;
}
